html {
    font-size: 62.5%; /* =10px */
    margin: 0;
  }

*{
    box-sizing: border-box;
}
          
body{
    /* background-image:url("/img/fondo.png"); */
    background : linear-gradient(rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.57)),
               url("../img/fondo.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 100%;
    flex-direction: row;
    
}

/*-----------left--------------*/
 .left{
        width: 100%;
        margin-left: 50px; 
}

   
.logo{
    width: 150px;
    height: auto;
    margin-bottom: -10px;
}
.slogan{
    color: #fff;
    margin: 0px;
    font-size: 1.7rem;
}
.li-txt2-small{
    font-size:13px;
}
.ul-left{
    list-style: none;
    font-size:1.7rem;
    color: #fff;
    padding:0px;
    padding-right: 30px;
}

.li-left{
   padding-bottom: 5px;
}


/*-----------right--------------*/

.right{
    color: #fff;
    width: 100%;
    margin-right: 50px;  
}

.container-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-size: 1.7rem;
    padding-top: 5.1rem;
    
}

h2{
    margin-top: 0;
    font-weight: 600;
    font-size: 1.7rem;
}
.seg-div-des{
    margin-left: -25px;
}

.text-footer{
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    position: absolute;
    bottom: 15px;
}



/*---------------------------@media 1225px-----------------------*/

@media(max-width:1225px){

/*-----------left--------------*/
 .left{
        margin-left: 40px; 
}
   
.li-txt2-small{
    font-size:11px;
}


/*-----------right--------------*/

.right{
    margin-right: 40px;
}
    
.text-footer{
    
    bottom: 15px;
}
}


/*---------------------------@media 1024px-----------------------*/
@media(max-width:1024px){ 
/*-----------left--------------*/
 .left{
    width: 70%;
    margin-left: 20px;             
}
.logo{
    width: 120px;   
}

.li-txt2-small{
    font-size:11px;
}


/*-----------right--------------*/

.right{
    margin-right: 20px;    
}

.container-description{
   
}
.text-footer{
    bottom: 5px;
}
}



/*---------------------------@media 768px-----------------------*/
@media(max-width:768px){ 
/*-----------left--------------*/
 .left{
    width: 70%;
    margin-left: 20px;             
}
.logo{
    width: 120px;   
}
.slogan{
    font-size: 1.5rem;
}
.li-txt2-small{
    font-size:11px;
}
.ul-left{
    font-size: 1.5rem;   
}

/*-----------right--------------*/

.right{
    margin-right: 20px;    
}

.container-description{
    font-size: 1.5rem;
    padding-top: 4.5rem;
}

h2{
    font-size: 1.5rem;    
    }


.text-footer{
    font-size: 1.5rem;
    bottom: 5px;
}
}


/*---------------------------@media 550px-----------------------*/
@media(max-width:550px){
  .container{
    display: flex;
    flex-direction: column;   
    width: 100%;
    
}

/*-----------left--------------*/
 .left{
    width: 100%;
    margin-left: 0px;   
    padding-left: 2.0rem; 
    padding-right: 2.0rem;      
}
.logo{
    width: 100px;
}
.slogan{
    font-size: 1.3rem;
}
.li-txt2-small{
    font-size:10px;
}
.ul-left{
    font-size: 1.3rem;        
}
/*-----------right--------------*/

.right{
    padding-left: 2.0rem;     
    padding-right: 2.0rem;  
    
}

.container-description{
    font-size: 1.3rem;
    padding-top: 1.5rem;
}

h2{
    font-size: 1.3rem;  
    font-weight: 600;
    }
.seg-div-des{
    margin-left: -25px;
}
      
.text-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.3rem;
    padding-right: 1.0rem;
    padding-left:1.0rem;
}  
}

















