html {
    font-size: 62.5%; /* =10px */
    margin: 0;
  }
body{
    /* background-image:url("/img/fondo.png"); */
    background : linear-gradient(rgba(0, 0, 0, 0.57),rgba(0, 0, 0, 0.57)),
               url("../img/fondo.png"); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.left{
    width: 100%;
    
}
.rigth{
    color: #fff;
    width: 100%;
}
.container-top{
    margin: 0;
}
.logo{
    width: 200px;
    height: auto;
}
.slogan{
    color: #fff;
    margin-top: 5px;
    font-size: 1.8rem;
}
ul{
    list-style: none;
    font-size: 1.6rem;
    color: #fff;
    position: absolute;
    bottom: 60px;
    padding: 0;
}
ul li:nth-child(2n){
    margin-bottom:10px;
}
.text-footer{
    text-align: left;
    font-size: 1.7rem;
    position: absolute;
    bottom: 0px;
}

.container-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}
.container-description p{
    width: 90%;
}
.subtitle{
    font-size: 3.5rem;
    margin: 0rem;
    width: 100%;
}
@media(min-width:600px){
    .container{
        flex-direction: row;
    }
    .left{
        width: 30%;
        margin-left: 50px;
    }
    .rigth{
        color: #fff;
        width: 70%;
        margin-right: 100px;
    }
    .container-top{
        height:50vh;
        margin: 0;
    }
    .logo{
        width: 150px;
        height: auto;
    }
    .container-bottom{
        height:50vh;
    }
    .container-description{
        height:80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
        text-align:right;
        font-size: 2.2rem;
    }
    ul li:nth-child(2n){
        margin-bottom:15px;
    }
    .text-footer{
        text-align: left;
        font-size: 1.7rem;
        position: absolute;
        bottom: 50px;
    }
    
}